:root{
    --color-status-live: #4F8;
    --color-status-dead: #F04;
    --color-status-unknow: #666;
}

.card{
    cursor: pointer;
    flex-grow: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 40vw;
    max-width: 700px;
    min-width: 200px;
    margin: 10px;
    border: solid 1px var(--color-menuL);
    border-radius: 10px;
    background-color: var(--color-oscuro);
    overflow: hidden;
}

.card:hover{
    box-shadow: 0px 0px 3px var(--color-claro);
}

.info-title{
    color: var(--color-status-unknow);
}

.info-container{
    flex-grow: 10;
    padding: 15px;
}

.info-container h4{
    margin-bottom: 5px;
}

/* Character card*/
.img-container{
    flex-grow: 1;
    height: 200px;
    background-color: var(--color-claro);
}

.img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info-status{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}

.status{
    width: 10px;
    height: 10px;
    margin-right: 10px;
    border-radius: 10px;   
}

.status--live{
    background-color: var(--color-status-live);
}

.status--dead{
    background-color: var(--color-status-dead);
}

.status--unknow{
    background-color: var(--color-status-unknow);
}

/* Episode card*/
.id-container{
    flex-grow: 1;
    width: 150px;
    min-height: 150px;
    background-color: var(--color-menuL);
}

.id-container h3{
    font-size: 50px;
    margin-top: 50px;
    text-align: center;
    color: var(--color-amarillo);
}

.preview-gallery{
    flex-grow: 1;
    display: grid;
    margin: 10px;
    overflow: hidden;
    grid-template-columns: repeat(2, 50px);
    grid-template-rows: repeat(2, 50px);
    grid-gap: 1px;
}

.preview-gallery div{
    background-color: var(--color-principal);
    text-align: center;
    overflow: hidden;
}

.preview-gallery div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.preview-gallery div p{
   color: var(--color-icono);
   line-height: 300%;
   height: 100%;
}

/* Location card*/
